.u-section-1 .u-sheet-1 {
  min-height: 567px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  font-size: 3.3125rem;
  margin: 139px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.1875rem;
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  margin: 16px auto 0;
}

.u-section-1 .u-text-3 {
  font-family: "DM Sans";
  margin: 87px 0 36px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 4.5rem;
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    width: auto;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 23px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 37px;
    margin-right: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.3333333333333333rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.1875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 441px;
}

.u-section-2 .u-image-1 {
  --radius: 10px;
  width: 804px;
  height: 452px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto -11px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 361px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 191px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 624px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 11px 0 0;
}

.u-section-3 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 2.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  box-shadow: 0px 0px 40px 5px rgba(114,104,63,1);
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 21px auto 60px;
  padding: 50px 106px 50px 105px;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 94px;
    margin-bottom: 60px;
    font-size: 1.6666666666666665rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1419px;
}

.u-section-4 .u-group-1 {
  width: 800px;
  min-height: 1567px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -122px auto 22px;
}

.u-section-4 .u-container-layout-1 {
  padding: 14px 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 16px auto 0 30px;
}

.u-section-4 .u-text-2 {
  margin: 37px 30px 0;
}

.u-section-4 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  box-shadow: 0px 0px 40px 5px rgba(114,104,63,1);
  font-weight: 700;
  margin: 26px auto 0;
  padding: 50px 37px 50px 35px;
}

@media (max-width: 1399px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-btn-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 4px 0;
}

.u-section-5 .u-image-1 {
  width: 329px;
  height: 199px;
  margin: 34px auto 0 844px;
}

.u-section-5 .u-gallery-1 {
  height: 199px;
  width: 329px;
  margin: -199px auto 0;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-5 .u-image-2 {
  width: 329px;
  height: 199px;
  margin: -199px auto 0 147px;
}

.u-section-5 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 37px 146px 0 844px;
}

.u-section-5 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -365px 844px 0 146px;
}

.u-section-5 .u-text-4 {
  width: 330px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -307px auto 0;
}

.u-section-5 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  box-shadow: 0px 0px 40px 5px rgba(114,104,63,1);
  font-weight: 700;
  margin: 48px auto 47px;
  padding: 25px 37px 27px 35px;
}

@media (max-width: 1399px) {
  .u-section-5 .u-image-1 {
    margin-left: 738px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-image-2 {
    margin-left: 74px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-text-2 {
    margin-right: 56px;
    margin-left: 754px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -393px;
    margin-right: 754px;
    margin-left: 56px;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    margin-left: 538px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 610px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 610px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    margin-left: 318px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 390px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 390px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    margin-left: 158px;
  }

  .u-section-5 .u-image-2 {
    margin-left: 94px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -82px;
    margin-left: 210px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -211px;
    margin-right: 210px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    margin-left: 8px;
  }

  .u-section-5 .u-image-2 {
    margin-left: 8px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 10px;
  }
} .u-section-6 {
  min-height: 4811px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(153,153,153,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 42px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 18px 0 calc(((100% - 1320px) / 2)  + 108px);
}

.u-section-6 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  min-height: 4443px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 17px;
}

.u-section-6 .u-image-1 {
  --radius: 30px;
  box-shadow: 0px 0px 8px 3px rgba(102,102,102,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-image: url("images/image21.png");
  background-size: cover;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px;
}

.u-section-6 .u-text-3 {
  font-size: 1.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-family: "DM Sans";
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: "DM Sans";
  margin: 13px auto 0 0;
}

.u-section-6 .u-image-2 {
  --radius: 30px;
  box-shadow: 0px 0px 8px 3px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/image21.png");
}

.u-section-6 .u-container-layout-2 {
  padding: 10px;
}

.u-section-6 .u-text-5 {
  font-size: 1.75rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: "Open Sans", sans-serif;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: "Open Sans", sans-serif;
  margin: 13px auto 0 0;
}

.u-section-6 .u-image-3 {
  --radius: 30px;
  box-shadow: 0px 0px 8px 3px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/image21.png");
}

.u-section-6 .u-container-layout-3 {
  padding: 10px;
}

.u-section-6 .u-text-7 {
  font-size: 1.75rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: "Open Sans", sans-serif;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-8 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: "Open Sans", sans-serif;
  margin: 13px auto 0 0;
}

.u-section-6 .u-image-4 {
  --radius: 30px;
  box-shadow: 0px 0px 8px 3px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/image21.png");
}

.u-section-6 .u-container-layout-4 {
  padding: 10px;
}

.u-section-6 .u-text-9 {
  font-size: 1.75rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: "Open Sans", sans-serif;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-10 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: "Open Sans", sans-serif;
  margin: 13px auto 0 0;
}

@media (max-width: 1399px) {
  .u-section-6 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2)  + 18px);
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-left: 20px;
  }

  .u-section-6 .u-image-2 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .u-section-6 .u-text-5 {
    font-family: "DM Sans";
  }

  .u-section-6 .u-text-6 {
    width: auto;
    font-family: "DM Sans";
    margin-left: 20px;
  }

  .u-section-6 .u-image-3 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .u-section-6 .u-text-7 {
    font-family: "DM Sans";
  }

  .u-section-6 .u-text-8 {
    width: auto;
    font-family: "DM Sans";
    margin-left: 20px;
  }

  .u-section-6 .u-image-4 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .u-section-6 .u-text-9 {
    font-family: "DM Sans";
  }

  .u-section-6 .u-text-10 {
    width: auto;
    font-family: "DM Sans";
    margin-left: 20px;
  }
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 18px);
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2) + 18px);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.1111111111111112rem;
    margin-left: calc(((100% - 540px) / 2) + 18px);
  }

  .u-section-6 .u-text-3 {
    font-size: 1.5555555555555554rem;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.5555555555555554rem;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.5555555555555554rem;
  }

  .u-section-6 .u-text-9 {
    font-size: 1.5555555555555554rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2) + 18px);
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1242px;
}

.u-section-7 .u-text-1 {
  font-size: 3.4375rem;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 34px auto 0;
}

.u-section-7 .u-list-1 {
  width: 1088px;
  margin: 55px auto 0;
}

.u-section-7 .u-repeater-1 {
  min-height: 852px;
  grid-auto-columns: calc(50% - 25px);
  grid-template-columns: repeat(2, calc(50% - 25px));
  grid-gap: 50px;
}

.u-section-7 .u-list-item-1 {
  --radius: 30px;
  box-shadow: 0px 0px 20px 6px rgba(178,154,54,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.5625rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 10px auto 0;
}

.u-section-7 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 9px 0 0;
}

.u-section-7 .u-image-1 {
  --radius: 10px;
  width: 770px;
  height: 706px;
  margin: -35px -125px 0;
}

.u-section-7 .u-list-item-2 {
  --radius: 30px;
  box-shadow: 0px 0px 20px 6px rgba(178,154,54,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.5625rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 10px auto 0;
}

.u-section-7 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 9px 0 0;
}

.u-section-7 .u-image-2 {
  --radius: 10px;
  width: 770px;
  height: 706px;
  margin: -35px -125px 0;
}

.u-section-7 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 1px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 0px 0px 39px 0px rgba(245,214,84,1);
  border-style: solid;
  margin: 46px auto 60px;
  padding: 29px 17px 29px 16px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-list-1 {
    width: 940px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 731px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-list-1 {
    width: 720px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 200px;
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    font-size: 2.578125rem;
  }

  .u-section-7 .u-list-1 {
    width: 540px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 2.1484375rem;
  }

  .u-section-7 .u-list-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 312px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-image-2 {
    width: 340px;
    height: 312px;
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1624px;
  margin-bottom: 0;
}

.u-section-8 .u-text-1 {
  margin-bottom: 0;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin-top: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-gallery-1 {
  height: 1126px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-19 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-20 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 2.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  box-shadow: 0px 0px 40px 5px rgba(114,104,63,1);
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 59px auto 58px;
  padding: 50px 106px 50px 105px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1426px;
  }

  .u-section-8 .u-gallery-1 {
    height: 928px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2571px;
  }

  .u-section-8 .u-gallery-1 {
    height: 2073px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 3830px;
  }

  .u-section-8 .u-gallery-1 {
    height: 3332px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 8890px;
  }

  .u-section-8 .u-gallery-1 {
    height: 8392px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}.u-section-9 .u-sheet-1 {
  min-height: 59px;
}

.u-section-9 .u-text-1 {
  margin: 15px auto;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  padding: 0;
}